<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <!-- <mat-icon>menu</mat-icon> -->
    </button>
    <span>Level Up Sales</span>
    <span class="example-spacer"></span>
    <button mat-stroked-button (click)="goToLogin()">
      Login
    </button>
    <button mat-stroked-button (click)="gotoGames()">
      Add Game
    </button>
    <button mat-stroked-button class="example-icon favorite-icon" (click)="gotoUsers()">
      User
    </button>
    <button mat-stroked-button (click)="gotoGames()">
      Games
    </button>
    <mat-icon aria-hidden="false" aria-label="Example cart icon" fontIcon="cart">
    <!-- <button mat-stroked-button> -->
      Cart
    </mat-icon>
    <!-- </button> -->


  </mat-toolbar>